.cards-container{
    display: grid;
    grid-template-columns: repeat(
        auto-fit,
        minmax(
            336px, 1fr
        )
    );
}
.cards-place-container{
    display: grid;
    grid-template-columns: repeat(
        auto-fit,
        minmax(
            448px, 1fr
        )
    );
}